<div class="logo">
	<a href="javascript:;"><img src="../../img/app_logo.jpg" width="77" height="21"></a>
</div>
<div class="nav">
	<ul>
		<li><a href="../index.html">首页</a></li>
		<li><a href="../html/market.html">饰品市场</a></li>
		<li><a href="javascript:;">库存估价</a></li>
		<li><a href="javascript:;">游戏资讯</a></li>
		<li><a href="../html/product.html">商品详情</a></li>
	</ul>
</div>
<div class="nav_entries">
	<ul>
		<li id="btn1"><a href="javascript:;">登录</a></li>
		<li id="btn"><a href="javascript:;">注册</a></li>
	</ul>
</div>