@import "footer";



body{font: 14px/1.2em Microsoft Yahei,"\5FAE\8F6F\96C5\9ED1","Hiragino Sans GB","Hiragino Sans GB W3",arial;color: #333;background: #ededed url(../img/header-bg.jpg) no-repeat center top;min-width: 1240px;}

//header  导航栏
.header{margin: $margin;width: 100%;height: 70px;}
.header .header_count{margin: $margin;width: $width;height: 70px;}
.header .header_count .logo{float: left;margin-top: 28px;}
.header .header_count .nav{float: left;margin-top: 28px;}
.header .header_count .nav ul{float: left;margin-left: 50px;}
.header .header_count .nav ul li{float: left; text-align: center;}
.header .header_count .nav ul li a{box-sizing: border-box;padding:30px 22px 21px 22px;color: azure;font-size: 14px;}
.header .header_count .nav ul li:hover a{background: #1f385e;}
.header .header_count .nav_entries ul{float: right;margin-top: 28px;}
.header .header_count .nav_entries ul li{float: left; text-align: center;}
.header .header_count .nav_entries ul li a{box-sizing: border-box;padding:30px 20px 21px 20px;color: azure;font-size: 12px;}
.header .header_count .nav_entries ul li:hover a{background: #1f385e;}


//subnav


.subnav{margin: $margin;width: 100%;height: 35px;}
.subnav .subnav_count{color: #9a9b9e;font-size: 12px;width: $width;height: 35px;margin: 0 auto;}

.subnav .subnav_count .subnav_left{background: #2E384B;width: 148px;float:left;position: relative;z-index: 999;height: 35px;border-radius: 2px;}

.subnav .subnav_count .subnav_left h3{ width: 148px;font-size:14px;font-weight: 100;line-height: 35px;padding-left: 15px;}
.subnav .subnav_count .subnav_left ul{ width: 148px;display: none;font-size:14px;}
.subnav .subnav_count .subnav_left ul li{padding-left: 25px;padding: 3px 0px 3px 15px; position: relative;}
.subnav .subnav_count .subnav_left h3:hover{cursor: pointer;}
.subnav .subnav_count .subnav_left:hover ul{display: block;cursor: pointer;}
.subnav .subnav_count .subnav_left ul li:hover{background: #303030;cursor: pointer;}
.subnav .subnav_count .arr-right{float: left; background: url(../img/icon.less.png) no-repeat;background-position: -278px -456px; width: 11px;height: 11px;display: inline-block;overflow: hidden;margin-top: 13px;margin-left: 15px;}
.subnav .subnav_count .span{float: left; min-width: 50px;font-size:14px;font-weight: 100;line-height: 35px;padding-left: 25px;}
.subnav .subnav_count .span1{float: left; min-width: 50px;font-size:14px;font-weight: 100;line-height: 35px;padding-left: 25px;color: #E4E8EE;}
.subnav .subnav_count .span a{color: #E4E8EE;}
.subnav .subnav_count .span a:hover{color: #FFFFFF;}



//market
.market{margin: $margin;width: 100%;min-height: 600px;}
.market .market_list{color: #9a9b9e;font-size: 12px;width: $width;height: 175px;margin: 0 auto;}
.market .market_list .market_header{width: $width;height: 175px; background: url(../img/marcket-header-bg.png) no-repeat;background-size: 100%; color: #90969C;margin-top: 20px;}
.market .market_list .market_header .detail_pic{ width: 275px;height: 165px;float: left;margin-top: 10px;background:url(../img/goods_detail_bg.png) repeat-x;}
.market .market_list .market_header .detail_pic img{width: 278px;height: 176px;}
.market .market_list .market_header .detail_cont{width: 900px;height: 165px;float: left;margin-top: 15px;margin-left: 60px;}
.market .market_list .market_header .detail_cont .name{color: #E4E8EE;font-size: 22px;margin-top: 15px;}
.market .market_list .market_header .detail_cont p{color: #0000FE;margin-top: 18px;}
.market .market_list .market_header .detail_cont .line{background-image: linear-gradient(-270deg,rgba(238,162,14,.4) 0,rgba(238,162,14,.4) 2%,#16171c 100%);width: 350px;height: 3px;margin-top: 18px;}
.market .market_list .market_header .detail_cont .price{width: 860px;height: 20px;float: left;margin-top: 20px;}
.market .market_list .market_header .detail_cont .price span label{color: #90969C;margin-right: 9px;cursor: default;}
.market .market_list .market_header .detail_cont .price span strong{font-size: 14px;color: gold;}
.market .market_list .market_header .detail_cont .price span strong small{color: #45536C;font-size: 12px;margin-left: 6px;}
.market .market_list .market_header .detail_cont .price a{margin-left: 25px;display: inline-block;}
.market .market_list .market_header .detail_cont .price a:hover{color: gold;cursor: pointer;}
.market .market_list .market_header .detail_cont .price .M_Right{float: right;width: 245px;height: 30px;text-align: center;line-height: 30px;}
.market .market_list .market_header .detail_cont .price .M_Right a{color: white;font-size: 18px;}
.market .market_list .market_header .detail_cont .price .M_Right .btn1{width: 95px;height: 30px;background: #4773C8;border-radius: 2px;}
.market .market_list .market_header .detail_cont .price .M_Right .btn2{width: 95px;height: 30px;background: #773535;border-radius: 2px;}


.market .market_list .block_header{width: $width;height: 53px;margin-top: 20px;background: #1c202b;}
.market .market_list .block_header ul{widows: 520px;height: 53px;float: left;}
.market .market_list .block_header ul li{font-size: 13px; width: 170px;height: 53px;float: left;text-align: center;line-height: 60px;border-right: 1px solid #314949;font-weight: bolder;}
.market .market_list .block_header ul li.on{font-size: 15px;color: white;}

//table
.market .market_list table{border-collapse: collapse;width: 100%;border-spacing: 2px;float: left;}
.market .market_list .list_tb_pubg{display: table-row-group;vertical-align: middle;border-color: inherit;border-collapse: collapse;height: 90px;}
.market .market_list .list_tb_pubg tr{display: table-row; vertical-align: inherit;border-color: inherit;}
.market .market_list .list_tb_pubg tr th{background: #F5F5F5;font-size: 14px;color: #959595;font-weight: 400;height: 30px;line-height: 30px;display: table-cell;vertical-align: inherit;border: none;text-align: left;}
.market .market_list .list_tb_pubg tr td{border-bottom: 1px solid #E9E9E9;border: none;height: 30px;background: #f0f0f0;color: black;}
.market .market_list .list_tb_pubg tr td a{color: black;}




